*{
    box-sizing: border-box;
}
body{
    width: 75%;
    margin: 0 auto;
}
.featuredGue{
    margin: 0px -1.3%;
    border: 1px dotted red;
}
.latestEp{
    border: 1px dotted red;
    margin: 0px -1.3%;
    background: #000;
}