.headline{
    margin: 0px 40%;
    padding-top: 10px;
    padding-bottom: 10px;
}
a:link{
    text-decoration: none;
}
a.hover{
    color: white;
}
.guest-cnt{
    width: 500px;
    height: 600px;
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 2px 2px;
}
.guest {
    margin: 0px 15px;
}
.guest p{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.photo{
    width: 180px;
    height: 160px;
}
.btn-outline-primary{
    display: flex;
    margin: auto;
    margin-top: -170px;
    margin-bottom: 25px;
}

