/* Top Navigation */
.company-logo{
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.nav-menu{
  justify-content: space-between;
}

.bg-white{
  background-color: white;
}

.hover-blue:hover{
  color: #19b2d4; 
}
.btn-media{
  border-radius: 0px;
  background-color: lightgray;
  font-style: normal;
  color: black;
  border: 0px;
}

.btn-media:hover, .cta-btn:hover{
    background-color: #19b2d4;
}


.cta-btn{
  background-color: #4a79ab;
  border-radius: 0px;
  border: 0px;
}

.bg-lightgray{
    background-color: #a8a7a4;
    border-radius: 0px;
    border: 0px;
}

.bg-lightblue{
  background-color: #19b2d4;
  border-radius: 0px;
  border: 0px;
}

.text-white{
  color: white;
}

.cta-text{
  padding: 2.5rem 5rem;
}

.credibility{
  display: flex;
  padding: .6rem 5rem;
  justify-content: space-around;
  align-items: center;
}

.main-headline{
  padding-left: 3rem;
  align-items: center;
}

.subscribe-img{
  margin-right: .75rem;
}

.teach-list{
  padding-right: 5rem;
  align-items: center;
}

.text-small{
  font-size: .75rem;
}

#list-title{
  padding-left: 1rem;
}
