/* Top Navigation */
.company-logo{
   margin-top: 0rem;
   margin-bottom: 0rem;
}

.nav-menu{
  justify-content: space-between;
}

.bg-white{
  background-color: white;
}

.hover-blue:hover{
  color: #19b2d4; 
}
.btn-media{
  border-radius: 0px;
  background-color: lightgray;
  font-style: normal;
  color: black;
  border: 0px;
}

.btn-media:hover, .cta-btn:hover{
    background-color: #19b2d4;
}


.cta-btn{
  background-color: #4a79ab;
  border-radius: 0px;
  border: 0px;
}

.bg-lightgray{
    background-color: #a8a7a4;
    border-radius: 0px;
    border: 0px;
}

.bg-lightblue{
  background-color: #19b2d4;
  border-radius: 0px;
  border: 0px;
}

.text-white{
  color: white;
}

.cta-text{
  padding-right: 150px;
  padding-left: 150px;
  align-items: center; /*!!! Doesnt align content vertically centere */
}

.credibility{
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-around;
  align-items: center;
}

.main-headline{
  padding-left: 150px;
  align-items: center;
}

.subscribe-img{
  margin-right: 10px;
}

.teach-list{
  padding-right: 150px;
  align-items: center;
}

.text-small{
  font-size: 14px;
}

#list-title{
  padding-left: 20px;
}

.align-y{
  align-items: center; /* Doesnt align items vertically in the center */
}
